<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title:"Fullstack"}) %>
<body>
    <%- include('./partials/header') %>
    <!-- articulo principal -->
    <div class="section-1">
    <section class="blogs-principal">
        <p class="mas-visto">Lo Mas Visto</p>
        <article class="guia">
            <a href="">
            <div class="img-guia">
                
            </div>
            <div class="cont-guia">
                <h2> </h2>
                <p></p>
            </div>
        </a>
        </article>
        <div>
            <article>

            </article>
            <article>

            </article>
            <article>

            </article>
        </div>
    </section>
</div>
    <!-- section otros articulos -->
    <div class="main-2">
    <section class="section-2">
        <p class="nuevo">Nuevo</p>
        <div>
            <article>

            </article>
            <article>

            </article>
            <article>

            </article>
            <article>

            </article>
        </div>
    </section>
</div>
    <%- include('./partials/footer') %>
</body>
</html>