<!DOCTYPE html>
<html lang="en">
    <footer>
        <div class="footer-new">
        <section class="new">
            <form action="">
                <h3>noticias</h3>
                <label for="">Correo</label>
                <input type="text" name="" id="">
                <button type="submit">Suscribirme</button>
            </form>
        </section>
        <div class="conteiner-footer">
            <p>© 2022. Todos los derechos reservados</p>
        </div>
        </div>
    </footer>
</html>