<!DOCTYPE html>
<html lang="en">
    <header>
        <div class="top-header">
            <p class="p-header">20% descuento</p>
        </div>
        <div class="header-partial">
            <img src="" alt="">
            <h2>Coder Guide</h2>
            <p>Hey! <br> En este blog podras encontrar guias de estudio, recursos y mucho mas sobre tecnologia, programacion y negocios digitales!</p>
        </div>
    </header>
</html>